
/* remove default spacing */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* fullscreen img button */
#imageButton {
    width: 100vw;
    height: 100vh;
    object-fit: contain;   /* make the background shown when 
                                we have square images */
    /* cursor: pointer; */
    display: block;
}